.btn-primary{
background: #4f9d9d;
}
.bgh20{
    background: #ffffff;
    height:20px
}
.hoverable {
    transition: box-shadow .25s;
    box-shadow: 0;
}
.hoverable:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}