<router-outlet></router-outlet>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="bgh65"></div>
            <app-ad></app-ad>
        </div>

        <div class="col-md-9">
            <h3 class="title"><strong>校园概况</strong></h3>
            <hr class="hr" />
            <p>&nbsp; &nbsp; &nbsp; &nbsp;成都艺术职业学院初建于1999年，从2000年起先后与四川美术学院、四川师范大学联合办学，设置四川美术学院成都分院、四川师范大学设计艺术学院，进行以本科为主体的普通高等教育。2002年经四川省人民政府批准成立、教育部备案，成为面向全国统一招生的全日制普通高等职业院校，在校学生8000多人。学院面向文化创意产业和城市化建设，秉持&ldquo;砺志尚美，躬行日新&rdquo;的校训，为社会培养艺术类为主的高素质人才上万名，被誉为西部地区应用型设计师的摇篮。</p>

            <p>&nbsp; &nbsp; &nbsp; &nbsp;学院占地面积约1000亩，学院本部花源校区地处成都南郊牧马山风景旅游区，距市区20分钟车程。新建的市区通达新津的地铁紧靠花源校区。新校区位于东坡故里眉山市青神县。校园风光秀丽，各种生活设施齐备，建有游泳池、校园网、校园商业区和高标准橡胶运动场。</p>

            <p>&nbsp; &nbsp; &nbsp; &nbsp;学院遵循&ldquo;以中华优秀传统文化为引领，以传统艺术与现代时尚相互融合、艺术教育与技术教育彼此渗透为特色&rdquo;的办学理念，坚持&ldquo;育人为根本、就业为导向、教学为中心、质量为生命、特色为追求&rdquo;的办学方针，遵循个性发展的艺术教育规律，以&ldquo;校企合作、产学融合、工学交替&rdquo;为人才培养模式，努力培养具有创新意识和艺术素养的高端技术技能型专业人才。</p>

            <p>&nbsp; &nbsp; &nbsp; &nbsp;学院现设有环境艺术设计学院、视觉传达学院、竹编艺术学院、数字媒体学院、建筑工程学院、音乐系、舞蹈系、管理系、体育系、表演系及公共教学部、思想政治理论课教研室等12个教学院系部室，设置有艺术学、管理学、工学、文学四个门类的35个专业。其中，属艺术学门类&ldquo;设计学&rdquo;一级学科涵盖的专业有环境艺术设计、室内设计技术、广告设计与制作等19个；属其他艺术学门类的专业有音乐表演、舞蹈表演等5个；管理学门类专业有财务管理、连锁经营管理、酒店管理等5个；工学门类专业有建筑设计技术、建筑工程技术、工程造价、园林工程技术等4个；文学门类专业有新闻采编与制作、文化事业管理等2个。</p>

            <p>&nbsp; &nbsp; &nbsp; &nbsp;设计类专业已经形成四川省及西南地区高职院校中最大规模&ldquo;专业集群&rdquo;，在业界素有&ldquo;西部设计师摇篮&rdquo;之称，学生多次获得全国技能大赛优秀奖项，毕业生中涌现出一大批为社会所欢迎的中青年优秀设计师。</p>

            <p>&nbsp; &nbsp; &nbsp; &nbsp;表演艺术类专业特色鲜明，优秀人才脱颖而出，在全国职业院校学生技能大赛（音乐、舞蹈）等多项各种专业比赛中取得优异成绩。</p>

            <p>&nbsp; &nbsp; &nbsp; &nbsp;建筑类专业异军突起，是四川省近年来在全国高职院校建筑类学生专项职业技能大赛中摘获奖项最多的学校之一。</p>

            <p>&nbsp; &nbsp; &nbsp; &nbsp;院级重点专业、特色专业9个，省级重点专业1个，省级特色专业3个，省级重点专业实习实训室（基地）1个。</p>

            <p>&nbsp; &nbsp; &nbsp; &nbsp;学院现有专任教师462人，来自行业、企业的兼职教师191人，有教授37人，具有副高以上职称的教师104人，&ldquo;双师型&rdquo;教师205人。有一批国内知名教育教学和行业专家领衔的老中青结合的教师队伍，包括国家一级演员、著名表演艺术家、川剧表演艺术代表传承人余开元，知名教育专家刁纯志教授，全国优秀设计师、著名设计艺术家陈小林教授，著名艺术教育专家张庭秀教授，著名漆画大师詹蜀安教授、著名竹编艺术大师陈云华，中国丝网花艺术第一人、著名服装设计师吴静芳教授，著名服装设计师张晓黎教授以及一大批才华横溢、甘于奉献的中青年教师，被四川省教育厅称为&ldquo;成艺软件不软&rdquo;（即指学院教师队伍力量雄厚）。有国家、省两级非遗代表性传承人4人。</p>

            <p>&nbsp; &nbsp; &nbsp; &nbsp;近三年，学院获省级以上社科、科研、教研成果奖、优秀奖8项；教师出版专著、主编教材、创作作品集29部；省级立项在研教研项目14项；公开发表论文300余篇；学生在国家级专业竞赛中获优秀奖以上奖项91项，在省级专业竞赛中获一等（金）等78项、二等（银）奖147项、三等（铜）奖227项，在四川高职院校中名列前茅。学院艺术团是西部艺术高校最为活跃的学生表演团队，多次出国演出，先后应中宣部、文化部、教育部邀请晋京献演，参加2009年建国60周年献礼北京专场演出、2010年中国第九届艺术节专场展演、2016年赴北京钓鱼台为中国-欧盟教育部长论坛演出，获得各国教育部长的高度赞誉。音乐系学生获第九届、第十届中国青少年艺术节全国总决赛金奖。</p>

            <p>&nbsp; &nbsp; &nbsp; &nbsp;学院现有馆藏纸质图书60余万册，数字图书60万册（约3000G）；有42个校内实验、实训场所，其中，专业工作室10个，与企业合作共建校内实践教学基地3个；建设有70个校外实习基地。多媒体教室48间，教学、教研用计算机1000多台。</p>

            <p>&nbsp; &nbsp; &nbsp; &nbsp;学院坚持&ldquo;校企合作、产学融合、工学交替&rdquo;的人才培养模式，与&ldquo;广东星艺&rdquo;、&ldquo;全友家私&rdquo;、&ldquo;中国女鞋之都&rdquo;等数十家知名企业和生产设计基地建立了深度合作，落实&ldquo;订单式&rdquo;人才培养。学院招生、就业&ldquo;两旺&rdquo;，毕业生就业率一直保持在97%以上，多数毕业生在成都和省内中心城市以及沿海发达地区就业，不少校友已经成为企业骨干、行业精英和青年企业家。</p>

            <p>&nbsp; &nbsp; &nbsp; &nbsp;近年来，学院着力推进国内外教学、科研合作与交流。先后与英国、韩国等国家的6所高校开展定期的师生&ldquo;游学&rdquo;交流、课程学习互动、交换展览、交换留学生等教学与科研互动。与联合国教科文组织亚太地区非物质文化遗产国际培训中心达成建设&ldquo;非遗&rdquo;培训基地的合作协议，与中国艺术研究院达成建设&ldquo;中国艺术研究院西部创作基地（西部分院）&rdquo;合作协议。</p>

            <p>&nbsp; &nbsp; &nbsp; &nbsp;乘长风破万里浪，经过16年跨越发展，成艺人正志存高远，努力加强内涵建设，打造更多特色专业和精品课程，服务四川乃至西部社会经济文化建设，为升格为应用型本科院校、争创西部一流艺术高校而奋斗！</p>

        </div>

    </div>

</div>

<div class="bgh20"></div>