<router-outlet></router-outlet>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="bgh65"></div>
            <app-ad></app-ad>
            <app-zhuanye-list></app-zhuanye-list>
        </div>
        <div class="col-md-9">
            <h3 class="title"><strong>专业设置</strong></h3>
            <hr class="hr" />
            <div class="row">
                <div class="col-md-4" *ngFor="let zhuanye of zhuanyes">
                    <div class="thumbnail hoverable ">
                        <img [src]="zhuanye.img" alt="..." class="img-responsive ctrlImgSize">
                        <div class="caption">
                            <div class="ctrlCaptionSize">
                            <h3>{{zhuanye.name}}</h3>
                            <p>{{zhuanye.des}}</p>
                            </div>
                            <p><a [routerLink]="['/zhuanye',zhuanye.link]" class="btn btn-primary" role="button">查看详情</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bgh20"></div>

<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>