<router-outlet></router-outlet>


<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="bgh65"></div>
      <app-ad></app-ad>

    </div>
    <div class="col-md-9">
      <h3 style="text-align: center;color: #4f9d9d"><strong>专业设置</strong></h3>
      <hr style="height:1px;border:none;border-top:4px solid #4f9d9d;"/>
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="../../assets/img/test235x200.jpg" alt="...">
            <div class="caption">
              <h3>艺术设计</h3>
              <p>本专业培养具备艺术设计与创作、教学和研究等方面的知识和能力，能在艺术设计教育、研究、设计、生产和管理单位从事艺术设计、</p>
              <p><a href="#" class="btn btn-primary" role="button">查看详情</a> </p>
            </div>
          </div>
        </div>


        <div class="col-md-4">
          <div class="thumbnail">
            <img src="../../assets/img/test235x200.jpg" alt="...">
            <div class="caption">
              <h3>艺术设计</h3>
              <p>本专业培养具备艺术设计与创作、教学和研究等方面的知识和能力，能在艺术设计教育、研究、设计、生产和管理单位从事艺术设计、</p>
              <p><a href="#" class="btn btn-primary" role="button">查看详情</a> </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="../../assets/img/test235x200.jpg" alt="...">
            <div class="caption">
              <h3>艺术设计</h3>
              <p>本专业培养具备艺术设计与创作、教学和研究等方面的知识和能力，能在艺术设计教育、研究、设计、生产和管理单位从事艺术设计、</p>
              <p><a href="#" class="btn btn-primary" role="button">查看详情</a> </p>
            </div>
          </div>
        </div>

      </div>


    </div>

  </div>

</div>

<div class="bgh20"></div>

