.btn-primary {
    background: #4f9d9d;
}

.bgh65 {
    background: #ffffff;
    height: 65px
}

.title {
    text-align: center;
    color: #4f9d9d
}

.hr {
    height: 1px;
    border: none;
    border-top: 4px solid #4f9d9d;
}

.hoverable {
    transition: box-shadow .25s;
    box-shadow: 0;
}

.hoverable:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ctrlImgSize {
    height: 185px;
    width: 95%;
}
.ctrlCaptionSize {
    height: 225px;
    width: 100%;
}
.choosen {
    transition: border-bottom .25s;
    box-shadow: 0;
}

.choosen:hover {
    border-top: 8px solid #4f9d9d;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}