<router-outlet></router-outlet>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div style="background: #ffffff;height:65px"></div>
      <div class="thumbnail">
        <img src="../../assets/img/test235x140.bmp" alt="...">
        <img src="../../assets/img/test235x115.jpg" alt="...">
        <div class="caption">
          <p><a href="#" class="btn btn-danger btn-block" role="button">在线咨询</a> </p>
          <p><a href="#" class="btn btn-danger btn-block" role="button">在线报名</a> </p>
          <p><a href="#" class="btn btn-danger btn-block" role="button">预约参观</a> </p>
        </div>
      </div>

    </div>
    <div class="col-md-9">
      <h3 style="text-align: center;color: #4f9d9d"><strong>联系我们</strong></h3>
      <hr style="height:1px;border:none;border-top:4px solid #4f9d9d;" />

      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <img src="../../assets/img/imgd1.png" class="img-responsive" >
          </div>

          <div class="col-md-7" >
            <br/><br/>
            <br/><br/>
            <br/><br/><br/>
            <a style="font-size: 18px;color:#000000">咨询电话：15982265551</a> <br/><br/>
            <a style="font-size: 18px;color:#000000">在线QQ:1665863324 郑老师</a> <br/><br/>

            <a href="http://j.map.baidu.com/A3WYj" target="view_window" style="font-size: 18px;color:#000000">地址：成都市新津县花源镇白云大道115号</a> <br/><br/>
            <a style="font-size: 18px;color:#000000">邮编：611433</a> <br/><br/>
            <a style="font-size: 18px;color:#000000">欢迎到校参观考察，成都各大车站有校车免费接送</a> <br/>
          </div>
        </div>
      </div>


    </div>

  </div>

</div>

<div style="background: #ffffff;height:20px"></div>


