.bgImg {
    background: url(http://i4.buimg.com/591259/26055bc56cf22916.jpg);
    background-attachment: fixed;
    height: 500px;
}

@media screen and (max-width:768px) {
    .bgImg {
        background: url(http://i4.buimg.com/591259/26055bc56cf22916.jpg);
        background-attachment: fixed;
        height: 300px;
    }
}