<div class="container">
    <h3 class="title"><strong>招生专业及计划</strong></h3>
    <hr class="hr" />
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>专业类别</th>
                    <th>专业方向（定向委培）</th>
                    <th>招生计划（限额）</th>
                    <th>学历文凭</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let jihua of jihuas">
                    <td>{{jihua.leibie}}</td>
                    <td>{{jihua.pro}}</td>
                    <td>{{jihua.plan}}</td>
                    <td>{{jihua.wenping}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p><strong>说明：</strong>1、学生选择专业（方向）建议：尊重学生意愿、参考我院老师意见、关注将来就业趋势</p>
    <p>2、我院实行统一招生和自主招生两种招生模式。新生通过我院招办报考与统一招生模式一样合法有效，不必重复填报志愿。</p>
    <div class="row">
        <div class="col-md-6">
            <h3 class="title">报名条件</h3>
            <hr class="hr" />
            <h4>基本条件</h4>
            <ol>
                <li>应、往届初、高中毕业生或具有同等学历者；</li>
                <li>年龄14-20周岁，男女不限；</li>
                <li>身体健康，无重大病史，无不符合部颁标准的传染病；</li>
                <li>无违法犯罪史，无重大违纪行为，思想品德好；</li>
                <li>未参加非法组织，无恶习或不敬不孝言行。</li>
            </ol>
            <h4>专业特殊条件</h4>
            <p>部分专业因专业要求不同，除具备的基本条件外，还应符合相关专业的特殊条件。</p>
        </div>
        <div class="col-md-6">
            <h3 class="title">报读须知</h3>
            <hr class="hr" />
            <ol>
                <li>本地学生可直接到学院中专部招生就业处办公室报名。外地学生可直接到学院中专部招生就业处报名，也可到学院校外招生咨询处、点、招生工作人员处报名，还可以来电来函或网上咨询，并依照相关程序报名。</li>
                <li>预缴报名注册、预定书本费1000元／生，此费用可由持有学院中专部有效工作证（或工作卡）的招生宣传老师凭学院中专部定额专用收据收取（所收费用，学生入学注册时应从学杂费中扣除）。</li>
                <li>报名时交验本人身份证原证及复印件、户口簿原件及复印件、近期免冠寸照10张（1寸6张、2寸4张）及电子照片（蓝底360x480，20kb）。</li>
                <li>家庭经济困难学生：（1）低保家庭学生须提供民政部门颁发的最低生活保障领取证；（2）烈士子女须持民政部门颁发的《烈士证书》；（3）单亲、孤残学生、贫困家庭学生及因突发事故导致家庭经济苦难的学生须持有街道办事处（乡、镇政府）出具经市、区、县民政部门确认的相关证明。</li>
                <li>学生上学最好由家长护送，或由自己信得过的亲友、老师护送。学费存在卡上，身上留适当现金即可，路途中要警惕陌生人，以免上当受骗。学生出发时或到成都后与学院中专部相关老师取得联系，按学院中专部要求到校。</li>
            </ol>
        </div>
    </div>
    <div>
        <h3 class="title">收费·奖助学金</h3>
        <hr class="hr" />
        <div class="row">
            <div class="col-md-6">
                <h4>收费</h4>
                <ol>
                    <li>中专阶段学费全免，杂费含住宿费、书本费、军训费（含生活费）、保险费、代收代管费、职业技能费、大中专衔接教育费等，按主管部门审核的标准收取，大专阶段学杂费按当年主管部门审核的标准收取；</li>
                    <li>与学生家长签订《学杂费收、缴费协议》，学院中途不收取额外费用；</li>
                    <li>职业资格及职业技能证书考证费等自理。</li>
                </ol>
            </div>
            <div class="col-md-6">
                <h4>奖助学金</h4>
                <ol>
                    <li>凡就读我院中专学生均可享受每年2000元的学费补贴（按当年国家政策执行）；</li>
                    <li>农村户口或城市贫困户口通过申请若获成功还可享受每年2000元的生活补贴（前两年）；</li>
                    <li>学院每年均设各种奖学金和表彰项目，奖励各类优秀学生，奖学金：一等奖5000元，二等奖3000元，三等奖1000元。贡献奖、爱校奖、成绩进步奖、学习标兵奖、德育标兵奖、拾金不昧奖等二十多项奖；</li>
                    <li>学院还设立近百个勤工俭学岗位，用于资助优秀贫困生；</li>
                    <li>可享受国家新规定的其他待遇。</li>
                </ol>
                <p>特别说明：有关奖助学金政策按国家、地方政府、企事业单位及学院实际政策执行，如有变化则执行变化后的政策。</p>
            </div>
        </div>
    </div>
</div>