<head>

  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?8fae6bdce44ce6c803e47b13bc5d3acb";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
  <script>
    (function(){
      var bp = document.createElement('script');
      var curProtocol = window.location.protocol.split(':')[0];
      if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
      }
      else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
      }
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(bp, s);
    })();
  </script>
</head>
<header>


  <div style="background:#4f9d9d;height:20px"></div>
  <div class="container-fluid top-bg" style="background:#4f9d9d">
    <div class="container">
      <div class="row">
        <div class="col-md-12"><img src="../assets/img/logo.gif" height="50"></div>
      </div>
    </div>
  </div>
  <div style="background:#4f9d9d;height:15px"></div>


  <nav class="navbar  navbar-default " style="margin: 0">
    <div class="container">
      <ul class="nav navbar-nav ">
        <li class="nav-item ">
          <a class="nav-link " routerLink="/home">校园首页</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/gaikuang">学院概况</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/zhuanye">专业设置</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dongtai">新闻动态</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/zhaosheng">招生就业</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/baoming">在线报名</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lianxi">联系我们</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<body>
<router-outlet></router-outlet>
</body>

<footer>

  <div style="background: #4f9d9d">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3 style="color:white">联系我们</h3>
          <hr/>
          <div style="font-size: 15px;">
            <a href="http://j.map.baidu.com/A3WYj" target="view_window"
               style="color:white">学校地址：成都市新津县花源镇白云大道115号</a><br/>
            <a style="color:white">咨询电话：</a><br/>
            <a style="color:white">联系QQ：</a><br/>
            <a style="color:white">邮编：611433</a>
          </div>
        </div>
        <div class="col-md-3">
          <h3 style="color:white">快速导航</h3>
          <hr/>
          <div style="font-size: 15px;">
            <a href="http://j.map.baidu.com/A3WYj" target="view_window"
               style="color:white"><span>关于我们</span></a><br/>
            <a style="color:white">专业设置</a><br/>
            <a style="color:white">乘车路线</a><br/>
            <a style="color:white">联系我们</a>
          </div>
        </div>

        <div class="col-md-3">
          <h3 style="color:white">关注我们</h3>
          <hr/>

        </div>
      </div>
    </div>
  </div>
  <div style="background:#4f9d9d;height:15px"></div>
</footer>



