<div class="card card-blog hoverable">
    <div class="card-image">
        <img src="../../../assets/img/test255x184.jpg" alt="...">
        <div class="ripple-cont"></div>
    </div>
    <div class="table">
        <p><a class="btn btn-danger btn-block " role="button" href="http://wpa.qq.com/msgrd?v=3&uin=1484656667&site=qq&menu=yes">在线咨询</a> </p>
        <p><a class="btn btn-danger btn-block " role="button" routerLink="/baoming">在线报名</a> </p>
        <p><a class="btn btn-danger btn-block " role="button" routerLink="/yuyue">预约参观</a> </p>
    </div>