.btn-primary {
    background: #4f9d9d;
}
.title {
    text-align: center;
    color: #4f9d9d
}
.hr {
    height: 1px;
    border: none;
    border-top: 4px solid #4f9d9d;
}
.bgh20 {
    background: #ffffff;
    height: 20px
}