.bgImg {
    background: url(http://i1.piimg.com/591259/02cc7dbc8d183b7c.jpg);
  
    height: 500px;
}

@media screen and (max-width:768px) {
    .bgImg {
        background: url(http://i1.piimg.com/591259/02cc7dbc8d183b7c.jpg);
        background-attachment: fixed;
        height: 300px;
          background-size:150% 100%;
    }
}