<router-outlet></router-outlet>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="bgh65"></div>
      <app-ad></app-ad>

    </div>
    <div class="col-md-9">
      <h3 class="title"><strong>新闻动态</strong></h3>
      <hr class="hrBorder-top4" />
      <div *ngFor="let articleList of articleLists" class="hoverable">
        <div class="row ">
          <div class="col-md-3">
            <img [src]="articleList.image" class="img-responsive">
          </div>
          <div class="col-md-9">
            <a class="contentTitle"
               [routerLink]="articleList.link"><strong>{{articleList.title}}</strong></a>
            <br/><br/>
            <p>{{articleList.des}}</p>
          </div>
        </div>
        <hr class="hrBorder-top2" />
      </div>
    </div>


  </div>

</div>

<div class="bgh20"></div>


