.bgh30 {
    background: #ffffff;
    height: 30px
}

.bgh10 {
    background: #ffffff;
    height: 10px
}

.bgh20 {
    background: #ffffff;
    height: 20px
}

.maincolor {
    color: #4f9d9d
}

.blackColor {
    color: #000000
}

