
<div>
  <router-outlet></router-outlet>
</div>

<div class="bgh30"></div>
<div class="container ">
  <div class="row">
    <div class="col-md-3">
      <div class="thumbnail">
        <img src="../../assets/img/test235x200.jpg" alt="...">
        <div class="caption">
          <h3>动漫设计与制作专业</h3>
          <p>动漫设计是通过现代艺术之理念和现代艺术之能力实践的专业学习，培养学生的艺术美感、理性思维和创作鉴赏能力</p>
          <p><a href="#" class="btn btn-primary" role="button">查看详情</a> </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <img src="../../assets/img/test235x200.jpg" alt="...">
        <div class="caption">
          <h3>艺术设计</h3>
          <p>本专业培养具备艺术设计与创作、教学和研究等方面的知识和能力，能在艺术设计教育、研究、设计、生产和管理单位从事艺术设计、</p>
          <p><a href="#" class="btn btn-primary" role="button">查看详情</a> </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <img src="../../assets/img/test235x200.jpg" alt="...">
        <div class="caption">
          <h3>建筑工程专业</h3>
          <p>本专业培养适应工业与民用建筑等领域第一线需要，具有良好的职业道德，掌握工业与民用建筑的施工操作和基层技术管理知识，</p>
          <p><a href="#" class="btn btn-primary" role="button">查看详情</a> </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <img src="../../assets/img/test235x140.bmp" alt="...">
        <img src="../../assets/img/test235x115.jpg" alt="...">
        <div class="caption">
          <p><a href="#" class="btn btn-danger btn-block" role="button">在线咨询</a> </p>
          <p><a href="#" class="btn btn-danger btn-block" role="button" routerLink="/baoming">在线报名</a> </p>
          <p><a href="#" class="btn btn-danger btn-block" role="button">预约参观</a> </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="bgh10"></div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <carousel>
        <slide>
          <img src="../../assets/img/test360x300.jpg" alt="First slide">
          <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </slide>
        <slide>
          <img src="../../assets/img/test360x300.jpg" alt="Second slide">
          <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </slide>
        <slide>
          <img src="../../assets/img/test360x300.jpg" alt="Third slide">
          <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </slide>
      </carousel>
    </div>


    <div class="col-md-6">
      <tabset>
        <tab heading="学院新闻"  >

          <br/>
          <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> <a style="color: #000000" routerLink="/wenzhang/article1">【专栏】职业院校管理水平提升行动计划</a><br/><br/>
          <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span><a style="color: #000000" routerLink="/wenzhang/article2"> 招标公告：教学仪器设备采购</a><br/><br/>
          <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span><a style="color: #000000">    余开源：冀文化事业和文化产业成为四川国民经济新的支柱性产业</a><br/><br/>
          <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span><a style="color: #000000">    成都艺术职业学院建筑工程学院建筑材料检测实训中心简介</a><br/><br/>
          <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span><a style="color: #000000">    我院召开党建、思政和校园文化建设专题工作会 </a>

        </tab>
        <tab heading="院系动态">

          <br/>
          <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> <a style="color: #000000"> 视觉传达学子在省第一届公益广告大赛中再创佳绩</a><br/><br/>
          <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span><a style="color: #000000"> 2017届毕业生校园系列专场招聘会在青神校区陆续展开</a><br/><br/>
          <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span><a style="color: #000000"> 管理系举办第一届酒店管理专业技能大赛</a><br/><br/>
          <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span><a style="color: #000000">  《立体 裁剪》课程展览</a><br/><br/>
          <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span><a style="color: #000000">    我院召开党建、思政和校园文化建设专题工作会 </a>

        </tab>
      </tabset>

    </div>

  </div>

</div>
<div class="bgh30"></div>

<div class="container">
  <h3 class="maincolor">校园生活</h3>
  <hr/>
  <div class="row">
    <div class="col-md-3">
      <img src="../../assets/img/imgb1.jpg" class="img-responsive" alt="">
    </div>
    <div class="col-md-3">
      <img src="../../assets/img/imgb2.jpg" class="img-responsive" alt="">
    </div>

    <div class="col-md-3">
      <img src="../../assets/img/imgb3.jpg" class="img-responsive" alt="">
    </div>
    <div class="col-md-3">
      <img src="../../assets/img/imgb3.jpg" class="img-responsive" alt="">
    </div>
  </div>

</div>
<div class="bgh20"></div>




